.alt-header {
    padding: var(--horizontal-space);
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.alt-header__title {
    font-size: 28px;
    font-weight: 600;
}
.alt-header__column:last-child i:last-child {
    margin-left: 10px;
}
.alt-header__chat-title {
    font-size: 28px;
    font-weight: 600;
    position: absolute;
    top: 28px;
    right: 255px;
}