.badge {
    background-color: tomato;
    color: white;
    font-weight: 600;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}
.badge__small {
    background-color: tomato;
    display: flex;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
}